<#ftl>
 <script type="text/javascript" src="${ctx}/static/plugins/datePicker/WdatePicker.js"></script>
<#macro datepicker id="date" name=id length=8 value=DateUtil.getCurrentDate14()  attr="" minDate="" maxDate="" callBackFun="" isShowWeek=false class="input-text ">
<#assign strformat="yyyy-MM-dd"/>
<#if length==10>
	<#assign  strformat="yyyy-MM-dd HH" />
<#elseif length==12>
	<#assign  strformat="yyyy-MM-dd HH:mm" />
<#elseif length==14>
	<#assign strformat="yyyy-MM-dd HH:mm:ss" />
<#elseif length==6>
	<#assign strformat="yyyy-MM" />
<#elseif length==4>
	<#assign  strformat="yyyy" />
<#elseif length==22>
	<#assign  strformat="MM-dd" />
<#elseif length==21>
	<#assign  strformat="HH:mm" />
</#if>
<#assign minD = "" />
<#if minDate != "">
	<#assign minD="minDate:'" + format(minDate,'yyyy-MM-dd') +"'," />
</#if>
<#assign maxD = "" />
<#if maxDate != "">
	<#assign maxD="maxDate:'" + format(maxDate,'yyyy-MM-dd') + "'," />
</#if>
<script type="text/javascript">
	function _on${id}Changed(dp){
		var _value = document.getElementById("_${id}").value;
		if(_value != ""){
			document.getElementById("${id}").value = _value.replace(/(\D)+/g,"");
		} else {
			document.getElementById("${id}").value = "";
		}
		try{on${id}Changed(dp);}catch(e){}

		<#if callBackFun!="">
			${callBackFun}();
		</#if>

	}
//-->
</script>
<#if length==22>
	<input type="text" ${attr}  class="${class}" id="_${id}"  <#if value!="">value="${value?substring(0,2)}-${value?substring(2,4)}"</#if> name="_${name}" readonly="readonly" onFocus="WdatePicker({ ${minD} ${maxD} <#if isShowWeek>isShowWeek:true,whichDayIsfirstWeek:7,firstDayOfWeek:1,</#if>onpicked:function(dp) {try{_on${id}Changed(dp);}catch(e){}},isShowClear:false,dateFmt:'${strformat}'})"/>
	<input type="hidden" value="${value}" name="${name}" id="${id}" />
<#else>
	<input type="text" ${attr}  class="${class}" id="_${id}"  value="${format(value,strformat)}" name="_${name}" readonly="readonly" onFocus="WdatePicker({ ${minD} ${maxD} <#if isShowWeek>isShowWeek:true,whichDayIsfirstWeek:7,firstDayOfWeek:1,</#if>onpicked:function(dp) {try{_on${id}Changed(dp);}catch(e){}},isShowClear:false,dateFmt:'${strformat}'})"/>
	<input type="hidden" value="${left(value,length,false)}" name="${name}" id="${id}" />
</#if>
</#macro>