[#macro select id="" source=[]  value="" text="" valKey="valKey" textKey="textKey" class="mysel" style="" callback=""]
	<select id="${id}" name="${id}" valKey="" textKey="" class="${class}" style="${style}">
		<option value="">请选择</option>
	[#if source?? && source?size>0]
		[#list source as item]
			<option value="${item[valKey]}"
					[#if value==item[valKey]]
					selected="selected"
					[/#if]
			>${item[textKey]}</option>
		[/#list]
	[/#if]
	</select>

	<input type="hidden"  id="${id}_text" name="${id}_text" value="${text}" />

<script>
    $(function() {
        $('#${id}').on('change',function() {
            var text = $(this).find('option:selected').text()||'';
            var val = $(this).val()||'';
            $("#${id}_text").val(text);

            [#if callback!=""]
				${callback}(val,text);
			[/#if]
        })
    })
</script>
[/#macro]